*.aux
*.pdf
*/.DS_Store
.DS_Store
*.lof
*.lot
*.toc
*.log
*/*.lof
*/*.lot
*/*.toc
*/*.log
*/*.synctex.gz
*.synctex.gz
main.synctex.gz
*.lof
*.lot
*.toc
*.log
main.bbl
main.blg
main.fdb_latexmk
main.fls
